# problem 1

In [1]:
#a Python program to sum all the items in a list
list1 = [4,7,8,9,6,33,5,9,6,8] # declear the list
sum = 0
for i in list1:
    sum +=  i
print("this is the sum of the given list item!----!",sum)

this is the sum of the given list item!----! 95

# problem 2

In [2]:
#2. Write a Python program to multiplies all the items in a list
list1 #see the privious decleared list

[4, 7, 8, 9, 6, 33, 5, 9, 6, 8]

In [3]:
mul = 1
for i in list1:
    mul *=  i
    print(mul)
print("this is the sum of the given list item!----!",mul)

4
28
224
2016
12096
399168
1995840
17962560
107775360
862202880
this is the sum of the given list item!----! 862202880

# problem 3

In [4]:
#Write a Python program to get the largest number from a list
list1

[4, 7, 8, 9, 6, 33, 5, 9, 6, 8]

In [5]:
new = list1[0] # 1st element of the given list
for i in list1:
    if  i > new:
        new = i
print("the max number in the list is !----!",new)

the max number in the list is !----! 33

# problem 4

In [6]:
#Write a Python program to get the smallest number from a list.
list1
print(list1)

new_list = list1[0] # 1st element of the given list

for i in list1:
    if i < new_list:
        new_list = i
print("the max number in the list is !----!",new_list, sep = '\n')

[4, 7, 8, 9, 6, 33, 5, 9, 6, 8]
the max number in the list is !----!
4

# problem 5

In [7]:
#Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

def match_word(word):
    ctr = 0
    for word in word:
        if len(word) > 1 and word[0] == word[-1]:
            ctr += 1
    return ctr


print(match_word(['abc', 'xyz', 'aba', '1221']))

2

# problem 6

In [8]:
sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

sample_list.sort()
sample_list

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

# problem 7

In [9]:
# a Python program to remove duplicates from a list

x  = [1,2,4,5,6,3,2,1,4,7,8,9,6,5]
new_x = []

for i in x:
    if i not in new_x:
        new_x.append(i)
print(new_x)

[1, 2, 4, 5, 6, 3, 7, 8, 9]

# problem 8|

In [10]:
#Python program to check a list is empty or not.
new_list = [1,2]

if not new_list:
    print('the list is empty:----!')
else:
    print("the list is not empty:----!")

the list is not empty:----!

# problem 9

In [11]:
x

[1, 2, 4, 5, 6, 3, 2, 1, 4, 7, 8, 9, 6, 5]

In [12]:
new_x = x.copy()

In [13]:
new_x

[1, 2, 4, 5, 6, 3, 2, 1, 4, 7, 8, 9, 6, 5]

In [14]:
ne_x = list(x)

In [15]:
ne_x

[1, 2, 4, 5, 6, 3, 2, 1, 4, 7, 8, 9, 6, 5]

# problem 10

In [16]:
num_of_word = 3
x = ['i', 'NEVER', 'GO', 'TO', 'SCHOOL']
n = []

for word in x:
    if len(word) > num_of_word:
        n.append(word)

print(n)

['NEVER', 'SCHOOL']

In [17]:
# 40 problem
word_list = ['be','have','do','say','get','make','go','know','take','see','come','think',
     'look','want','give','use','find','tell','ask','work','seem','feel','leave','call']

In [18]:
dict = {}
word_list = list(sorted(word_list))
for i in  word_list:
    if i[0] in dict:
        dict[i[0]].append(i)
       
    else:
        dict[i[0]]= []
        dict[i[0]].append(i)
dict

{'a': ['ask'],
 'b': ['be'],
 'c': ['call', 'come'],
 'd': ['do'],
 'f': ['feel', 'find'],
 'g': ['get', 'give', 'go'],
 'h': ['have'],
 'k': ['know'],
 'l': ['leave', 'look'],
 'm': ['make'],
 's': ['say', 'see', 'seem'],
 't': ['take', 'tell', 'think'],
 'u': ['use'],
 'w': ['want', 'work']}

In [19]:
word_list = ['be','have','do','say','get','make','go','know','take','see','come','think',
     'look','want','give','use','find','tell','ask','work','seem','feel','leave','call']


dict1 = {}

for i in word_list:
    if i[0] in dict1:
        dict1[i[0]].append(i)
    else:
        dict1[i[0]] = []
        dict1[i[0]].append(i)
dict1

{'b': ['be'],
 'h': ['have'],
 'd': ['do'],
 's': ['say', 'see', 'seem'],
 'g': ['get', 'go', 'give'],
 'm': ['make'],
 'k': ['know'],
 't': ['take', 'think', 'tell'],
 'c': ['come', 'call'],
 'l': ['look', 'leave'],
 'w': ['want', 'work'],
 'u': ['use'],
 'f': ['find', 'feel'],
 'a': ['ask']}

In [20]:
# problem 41 create multiple list

In [21]:
new_dict = {}

for i in range(1,20):
    new_dict[str(i)]= []
    
new_dict

{'1': [],
 '2': [],
 '3': [],
 '4': [],
 '5': [],
 '6': [],
 '7': [],
 '8': [],
 '9': [],
 '10': [],
 '11': [],
 '12': [],
 '13': [],
 '14': [],
 '15': [],
 '16': [],
 '17': [],
 '18': [],
 '19': []}

In [22]:
# problem 42 
list1= ['a','b','d','f','i','e']
list2 = ['m','n','e','h']
# missing value finding using set difference
miss_value = set(list1).difference(list2)
print("missing value is", ',' .join(miss_value))

missing value is f,i,b,a,d

In [23]:
additional_value = set(list2).difference(list1)
print("missing value is", ',' .join(additional_value))

missing value is n,h,m

In [24]:
#problem 43
multi_list= [
    ('name','age','university'),
    ('sajib', 26, 'DIU'),
    ('zahid',25,"diu")
]

In [25]:
val,val2,val3 = multi_list

In [26]:
val

('name', 'age', 'university')

In [27]:
val2

('sajib', 26, 'DIU')

In [28]:
val3

('zahid', 25, 'diu')

In [29]:
#44 no problem
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]

li = [[5*i+j for j in range(1,6)] for i in range(5)]
li

[[1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25]]

In [30]:
# problem 45
l = [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10)]
l

[(1, 2),
 (3, 4),
 (1, 2),
 (5, 6),
 (7, 8),
 (1, 2),
 (3, 4),
 (3, 4),
 (7, 8),
 (9, 10)]

In [31]:
print(sorted(set().union(*l)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
# problem 46
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(x[::2])

[1, 3, 5, 7, 9]

In [33]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in x:
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [34]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in x:
    if i%2 == 1:
        print(i)

1
3
5
7
9

In [35]:
# problem 47
color = ['Red', 'Green', 'Black']
color = [x for item in color for x in ('color',item)]

In [36]:
color

['color', 'Red', 'color', 'Green', 'color', 'Black']

In [37]:
color = ['Red', 'Green', 'Black']
new_color =[]


for item in color:
    new_color.append('color')
    new_color.append(item)
    
print(new_color)

['color', 'Red', 'color', 'Green', 'color', 'Black']

In [38]:
# problem 48
colors = [['Red'], ['Green'], ['Black']]
print('\n'.join([str(lst) for lst in colors]))

['Red']
['Green']
['Black']

In [39]:
for i in color:
    print(str([i]))

['Red']
['Green']
['Black']

In [40]:
#problem 49 
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]

In [41]:
print([{'color_name': cn,'color_code': cc} for cn,cc in zip(color_name,color_code)])

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [42]:
color_n = ["Black", "Red", "Maroon", "Yellow"]
color_c = ["#000000", "#FF0000", "#800000", "#FFFF00"]
both = []
for i in range(len(color_n and color_c)):
    
    both.append({'color_n:', color_n[i], 'color_c:', color_c[i]})
print(both)

[{'Black', 'color_c:', '#000000', 'color_n:'}, {'color_c:', '#FF0000', 'Red', 'color_n:'}, {'Maroon', 'color_c:', '#800000', 'color_n:'}, {'Yellow', 'color_c:', '#FFFF00', 'color_n:'}]

# new problem solve List

# problem 1

In [43]:
#a Python program to sum all the items in a list
total = 0
lis1 = [1,2,3,4,5,6,9,8,7] 
for i in lis1:
    total += i
    print("the total sum of give list is --->", total)
print("sum of give list is --->", total)

the total sum of give list is ---> 1
the total sum of give list is ---> 3
the total sum of give list is ---> 6
the total sum of give list is ---> 10
the total sum of give list is ---> 15
the total sum of give list is ---> 21
the total sum of give list is ---> 30
the total sum of give list is ---> 38
the total sum of give list is ---> 45
sum of give list is ---> 45

# problem 2

In [44]:
lis1

[1, 2, 3, 4, 5, 6, 9, 8, 7]

In [45]:
mul= 1
for i in lis1:
    mul = mul * i
print("the total value after multiplication is ----->", mul)

the total value after multiplication is -----> 362880

# problem 3

In [46]:
# largest number from list 
lis1

[1, 2, 3, 4, 5, 6, 9, 8, 7]

In [47]:
new = lis1[0] # 1st element of the given list
for i in lis1:
    if  i > new:
        new = i
print("the max number in the list is !----!",new)

the max number in the list is !----! 9

# problem 4

In [48]:
#Write a Python program to get the smallest number from a list.
lis2 =[7,5,3,9,1,2,6,4,8]
print(lis2)

new_list = lis2[0] # 1st element of the given list

for i in lis2:
    if i < new_list:
        new_list = i
print("the min number in the list is !----!",new_list, sep = '\n')

[7, 5, 3, 9, 1, 2, 6, 4, 8]
the min number in the list is !----!
1

# problem 5

In [49]:
lis = ['abc', 'xyz', 'aba','1221','aaa']
new = []
count =0
for i in lis:
    if len(i)> 2 and i[0] == i[-1]:
        new.append(i)
        print(new)
        count += 1
print(count)

['aba']
['aba', '1221']
['aba', '1221', 'aaa']
3

# problem 6

In [50]:
# sample list = [(2,5),(1,2),(4,4),(2,3),(2,1)]
# sample list = [(2,1),(1,2),(2,3),(4,4),(2,5)]
lis = [(2,5),(1,2),(4,4),(2,3),(2,1)]
new_lis = []
for i in lis:
    new_lis.append(i[1])
new_lis = sorted(new_lis)

final_li =[]
for i in new_lis:
    for touple1 in lis:
        if touple1[1] ==i:
            final_li.append(touple1)   
print(final_li)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [51]:
# sample list = [(2,5),(1,2),(4,4),(2,3),(2,1)]
# sample list = [(2,1),(1,2),(2,3),(4,4),(2,5)]
lis1 = [(2,5),(1,2),(4,4),(2,3),(2,1)]

new_lis = []
for i in lis1:
    new_lis.append(i[1])
new_lis = sorted(new_lis)

final_lis=[]

for i in new_lis:
    for item in lis1:
        if item[1] == i:
            final_lis.append(item)
            
final_lis

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [52]:
lis1 = [(2,5),(1,2),(4,4),(2,3),(2,1)]

new_li = []
for i in lis1:
    new_li.append(i[1])
    new_li = sorted(new_li)
    
final_list = []

for i in new_li:
    for item in lis1:
        if item[1] == i:
            final_list.append(item)

In [53]:
final_list

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# problem 7

In [54]:
li = [1,5,9,2,3,6,4,7,8,9,8,5,2]
new_li = []

for i in li:
    if i not in new_li:
        new_li.append(i)

In [55]:
new_li

[1, 5, 9, 2, 3, 6, 4, 7, 8]

# problem 8

In [56]:
li = [2]
if i not in li:
    print("the list is empty")
else:
    print("the list is not empty ")

the list is not empty

# problem 9

In [57]:
li = [1,5,9,2,3,6,4,7,8,9,8,5,2]

li1 = li.copy()

In [58]:
li1

[1, 5, 9, 2, 3, 6, 4, 7, 8, 9, 8, 5, 2]

# problem 10

In [59]:
words = "I did not want to go school every day"
words = words.split(" ")

In [60]:
words

['I', 'did', 'not', 'want', 'to', 'go', 'school', 'every', 'day']

In [61]:
n = 3 
sort_word = []
count = 0
for i in words:
    if len(i) > n:
        sort_word.append(i)
        print(sort_word)
        count += 1
print(count)

['want']
['want', 'school']
['want', 'school', 'every']
3

# problem 11

In [62]:
def common_num(list1, list2):
    
    for x in list1:
        for y in list2:
            if x == y:
                return True
    return False
          
print(common_num([1, 2, 3, 4, 5], [5, 6, 7, 8, 9]))
print(common_num([1, 2, 3, 4, 5], [6, 7, 8, 9,8]))

True
False

# problem 12

In [63]:
#print a specified list after removing the 0th, 4th and 5th elements.

sample_list = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

new_lis = []
for i in range(len(sample_list)):
    if i== 0 or i == 4 or i== 5:
        continue
    else:
        new_lis.append(sample_list[i])
print(new_lis)

['Green', 'White', 'Black']

# problem 13

In [64]:
#Write a Python program to generate a 3*4*6 3D array whose each element is   *  
val = ('*' *6).split()
3*[4*[val]]

[[['******'], ['******'], ['******'], ['******']],
 [['******'], ['******'], ['******'], ['******']],
 [['******'], ['******'], ['******'], ['******']]]

In [65]:
#Write a Python program to generate a 3*4*6 3D array whose each element is   *  
val = ('* ' *6).split()
3*[4*[val]]

[[['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']]]

# problem 14

In [66]:
#Write a Python program to print the numbers of a specified list after removing even numbers from it.
li = [10,12,15,18,17,19]

li = [x for x in li if x % 2 !=0]
print(li)

[15, 17, 19]

In [67]:
for i in li:
    if i % 2 ==0:
        continue
print(li)

[15, 17, 19]

In [68]:
new_li = []
for item in li:
    if item % 2 != 0:
        new_li.append(item)
print(li)

[15, 17, 19]

# problem 17

In [69]:
#generate and print a list except for the first 5 elements, where the values are square of numbers between 1 and 30
new_lis1 = []

for i in range(1,10):
    if i*i <= 30:
        new_lis1.append(i)
    
print(new_lis1)

[1, 2, 3, 4, 5]

In [70]:
new_lis3 = [ i for i in range(1,10) if i*i <= 30 ]
print(new_lis3)

[1, 2, 3, 4, 5]

# problem 15

In [71]:
# #15. Write a Python program to shuffle and print a specified list.
x =[3,2,5,7,9,5,4,3]

from random import shuffle
shuffle(x)
print(x)

[3, 2, 9, 4, 7, 3, 5, 5]

# problem 16
There is a problem

In [72]:
#Write a Python program to generate and print a list of the first and last 5 elements 
#where the values are square numbers between 1 and 30 (both included).

y = list()

for i in range(1,30):
    if i*i <= 30:
        y.append(i)
print(y)

print(y[: 5])
print(y[-5 :])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

# problem 18

In [73]:
lis = [1,2,3,4]

import itertools
print(list(itertools.permutations(lis)))

[(1, 2, 3, 4), (1, 2, 4, 3), (1, 3, 2, 4), (1, 3, 4, 2), (1, 4, 2, 3), (1, 4, 3, 2), (2, 1, 3, 4), (2, 1, 4, 3), (2, 3, 1, 4), (2, 3, 4, 1), (2, 4, 1, 3), (2, 4, 3, 1), (3, 1, 2, 4), (3, 1, 4, 2), (3, 2, 1, 4), (3, 2, 4, 1), (3, 4, 1, 2), (3, 4, 2, 1), (4, 1, 2, 3), (4, 1, 3, 2), (4, 2, 1, 3), (4, 2, 3, 1), (4, 3, 1, 2), (4, 3, 2, 1)]

# problem 19

In [74]:
#Write a Python program to get the difference between the two lists.
lis1 = [1,3,2,3,5,4,6,7]
lis2 = [1,2,4,8,9,1,2,4]

lis3 = list(set(lis2) - set(lis1))
print(lis3)
lis4 = lis3 = list(set(lis1) - set(lis2))
print(lis4)

[8, 9]
[3, 5, 6, 7]

In [75]:
new_li = lis3 + lis4

In [76]:
new_li

[3, 5, 6, 7, 3, 5, 6, 7]

# problem 20

In [77]:
li = [1,2,5,3,4,8,9]

for index , i in enumerate(li):
    print(index ,i)

0 1
1 2
2 5
3 3
4 4
5 8
6 9

# problem 21

In [78]:
#Write a Python program to convert a list of characters into a string

li = ['s','d','t','1','2','6']
li = ''.join(li)
li

'sdt126'

In [79]:
print(type(li))

<class 'str'>

# problem 22

In [80]:
#Write a Python program to find the index of an item in a specified list
li = ['s','d','t','1','2','6']

print(li.index('2'))

4

In [81]:
for i in li:
    if i == 't':
        print(li.index(i))

2

# problem 23

In [82]:
#Write a Python program to flatten a shallow list
def flatten(li):
    return[x for sublist in li for x in sublist ]

li  = [[6,8,9], [2,5,4], ['l'], ['o',7,'u']]
print(flatten(li))

[6, 8, 9, 2, 5, 4, 'l', 'o', 7, 'u']

In [83]:
# using for loop 

li = [[6, 8, 9], [2, 5, 4], ['l'], ['o', 7, 'u']]
new_lis = []

for i in li:
    for item in i:
        if item not in new_lis:
            new_lis.append(item)
print(new_lis)

[6, 8, 9, 2, 5, 4, 'l', 'o', 7, 'u']

# problem 24

In [84]:
#Write a Python program to append a list to the second list
li1 = [9,5,1,2,3,6,5,4,7,8]
li2 = ['a','b','c','d',7,6]

created_li = li1 + li2
print(created_li)

[9, 5, 1, 2, 3, 6, 5, 4, 7, 8, 'a', 'b', 'c', 'd', 7, 6]

# problem 25

In [85]:
color_list = ['Red', 'Blue', 'Green', 'White', 'Black']
import random

print(random.choice(color_list))

Red

# problem 26

In [86]:
Problem

NameError: name 'Problem' is not defined

# problem 27

In [87]:
#Python program to find the second smallest number in a list.
li = [3, 5, 9, 7, 5, 6, 4, 1, 2]

li.sort()
print("Sorted list:", li)
print("Sorted list:", li[1])

Sorted list: [1, 2, 3, 4, 5, 5, 6, 7, 9]
Sorted list: 2

# problem 28

In [88]:
# Python program to find the second largest number in a list
li = [3, 5, 9, 7, 5, 6, 4, 1, 2]

li.sort(reverse = True)
print("Sorted list:", li)
print("Sorted list:", li[1])

Sorted list: [9, 7, 6, 5, 5, 4, 3, 2, 1]
Sorted list: 7

# problem 29

In [89]:
#Write a Python program to get unique values from a list
li = [3, 5, 9, 7, 5, 6, 4, 1, 2, 7, 2]
new_li = set(li)
new_li

{1, 2, 3, 4, 5, 6, 7, 9}

In [90]:
li = [3, 5, 9, 7, 5, 6, 4, 1, 2, 7, 2]
uni_li = []

for i in li:
    if i not in uni_li:
        uni_li.append(i)
        
print(uni_li)

[3, 5, 9, 7, 6, 4, 1, 2]

# problem 30

In [91]:
#Python program to get the frequency of the elements in a list
list1 = [3,4,6,8,3,5,7,89,1,3,4,6,7]

dict1 = {}
for i in list1:
    dict1[i] = list1.count(i)
    
print(dict1)

{3: 3, 4: 2, 6: 2, 8: 1, 5: 1, 7: 2, 89: 1, 1: 1}

# problem 31

In [92]:
list1 = [3,4,6,8,3,5,7,89,1,3,4,6,7]

count = 0
for i in range (2,7):
    print('individual value of list------->',i)
    
    count += 1
print('total number of count--->',count)

individual value of list-------> 2
individual value of list-------> 3
individual value of list-------> 4
individual value of list-------> 5
individual value of list-------> 6
total number of count---> 5

# problem 32

In [93]:
lis2 = [1,2,3,4,5]
new_lis2 = []
for i in range(len(lis2)):
    for j in range(i+1,len(lis2)+1):
        new_lis2.append(lis2[i:j])
print(new_lis2)

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [2], [2, 3], [2, 3, 4], [2, 3, 4, 5], [3], [3, 4], [3, 4, 5], [4], [4, 5], [5]]

In [94]:
n = [2, 3, 4]
if n in new_lis2:
    print("have a subset")
    
else:
    ('donot have subset')

have a subset

# problem 33

In [95]:
lis = [1,2,3,4,5]
for i in range(len(lis)):
    #print('start index',i)
    for j in range(i+1,len(lis)+1):
        #print('end index', j)
        print(lis[i:j])

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[2]
[2, 3]
[2, 3, 4]
[2, 3, 4, 5]
[3]
[3, 4]
[3, 4, 5]
[4]
[4, 5]
[5]

In [96]:
lis1 = [1,2,3,4]

for i in range(len(lis1)):
    for j in range(i+1, len(lis1)+1):
        print(lis[i:j])

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[2]
[2, 3]
[2, 3, 4]
[3]
[3, 4]
[4]

# problem 34

In [97]:
def prime(n):
    
    prime_li =[]
    for i in range(2, n+1):
        if i not in prime_li:
            print(i, end= ' ')
            for j in range(i*i, n+1, i): 
                prime_li.append(j)
prime(100)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# problem 35

In [98]:
lis = ['p','q']
n = 5
lis2 = []
for i in range(1, 6):
    print(i, end = ' ')
    for j in lis:
        s = j + str(i)
        lis2.append(s)
print(lis2)

1 2 3 4 5 ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [99]:
lis = ['p','q','r']
n = 3

lis_4 = []
for i in range(1,4):
    print(i, end = ' ')
    for j in lis:
        
        update = j + str(i)
        lis_4.append(update)
print(lis_4)

1 2 3 ['p1', 'q1', 'r1', 'p2', 'q2', 'r2', 'p3', 'q3', 'r3']

# problem 36

In [100]:
 x= 100
print(format(id(x), 'x'))

1c4191e55d0

# problem 37

In [101]:
li1 = [1,2,9,5,4,8]
li2 = [2,5,7,6,3,9]

print(set(li1) & set (li2))

{9, 2, 5}

In [102]:
new = []
for i in li1:
    if i in li2:
        new.append(i)
print(new)

[2, 9, 5]


# problem 38

In [103]:
lis = [0,1,2,3,4,5,6,7,8,9]

for i in range(0, len(lis)-1,2):
    temp = lis[i] 
    lis[i] = lis[i+1]
    lis[i+1] = temp
print(lis)

[1, 0, 3, 2, 5, 4, 7, 6, 9, 8]

# problem 39

In [104]:
li = [11,33,50]

In [105]:
x = int("".join(map(str,li)))
print(x)

113350

# problem 40

In [106]:
word_list = ['be','have','do','say','get','make','go','know','take','see','come','think',
     'look','want','give','use','find','tell','ask','work','seem','feel','leave','call']

In [107]:
dict1 = {}
word_list = list(sorted(word_list))

for i in word_list:
    if i[0] in dict1:
        dict1[i[0]].append(i)
    else:
        dict1[i[0]] = []
        dict1[i[0]].append(i)
dict1

{'a': ['ask'],
 'b': ['be'],
 'c': ['call', 'come'],
 'd': ['do'],
 'f': ['feel', 'find'],
 'g': ['get', 'give', 'go'],
 'h': ['have'],
 'k': ['know'],
 'l': ['leave', 'look'],
 'm': ['make'],
 's': ['say', 'see', 'seem'],
 't': ['take', 'tell', 'think'],
 'u': ['use'],
 'w': ['want', 'work']}

# problem 41

In [108]:
# a Python program to create multiple lists.
dic = {}
for i in  range(1,15):
    dic[str(i)] = []
    
print(dic)

{'1': [], '2': [], '3': [], '4': [], '5': [], '6': [], '7': [], '8': [], '9': [], '10': [], '11': [], '12': [], '13': [], '14': []}

# problem 42

In [109]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f']
list2 = ['d', 'e', 'f', 'g', 'h']

new_li = set(list1).difference(list2)

In [110]:
print('Missing values in the second list: ', ','.join(new_li))

Missing values in the second list:  b,a,c

In [111]:
new_li1 = set(list2).difference(list1)

print(new_li1)

{'g', 'h'}

In [112]:
print("the additional value ", ','.join(new_li1))

the additional value  g,h

# problem 43

In [113]:
#a Python program to split a list into different variables.
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"),
    ("Red", "#FF0000", "rgb(255, 0, 0)"),
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]

val1, val2, val3 = color
print('The 1st value is ---->', val1)
print('The 1st value is ---->', val2)
print('The 1st value is ---->', val3)

The 1st value is ----> ('Black', '#000000', 'rgb(0, 0, 0)')
The 1st value is ----> ('Red', '#FF0000', 'rgb(255, 0, 0)')
The 1st value is ----> ('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

# problem 44

In [114]:
list1 = list(range(1,41))
print(list1, end= '')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [115]:
for i in range(0,len(list1),5):
    print(list1[i: i + 5])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[11, 12, 13, 14, 15]
[16, 17, 18, 19, 20]
[21, 22, 23, 24, 25]
[26, 27, 28, 29, 30]
[31, 32, 33, 34, 35]
[36, 37, 38, 39, 40]

# problem 45

In [116]:
#a Python program to convert a pair of values into a sorted unique array
L = [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10)]

#print("Sorted Unique Data:", sorted(set().union(*L)))
print(sorted(set().union(*L)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# problem 46

In [117]:
#a Python program to select the odd items of a list
new_x = []
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in x:
    if i % 2 == 0:
        continue
    else:
        new_x.append(i)
print(new_x)

[1, 3, 5, 7, 9]

In [118]:
#alternative way
li  = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(li[:: 2])

[1, 3, 5, 7, 9]

# problem 47

In [119]:
li = ['a','b','c','d','e']
n= "c"
new_li = []
for i in range(0, len(li)):
    new_li.append(n)   # new_li.append(i+1)
    new_li.append(li[i])
    
new_li

['c', 'a', 'c', 'b', 'c', 'c', 'c', 'd', 'c', 'e']

# problem 48

In [120]:
#a Python program to print a nested lists (each list on a new line) using the print() function
colors = [['Red'], ['Green'], ['Black']]
for i in colors:
    print(i[0])

Red
Green
Black

# problem 49

In [121]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000","#800000", "#FFFF00"]

new_lis= []

for i in range(len(color_name)):
    new_lis.append({color_name[i],color_code[i]})
print(new_lis)

[{'Black', '#000000'}, {'Red', '#FF0000'}, {'Maroon', '#800000'}, {'Yellow', '#FFFF00'}]

# problem 50

In [122]:
#a Python program to sort a list of nested dictionaries
my_list = [{'key': {'subkey': 1}}, {'key': {'subkey': 10}}, {'key': {'subkey': 5}}]
new_li = []
for i in my_list:
    new_li.append(i['key']['subkey'])

new_li = sorted(new_li, reverse = False) 
print(new_li)    

final_list = []
for i in new_li:
    for j in my_list:
        if j['key']['subkey'] == i:
            final_list.append(j)
print(final_list)

[1, 5, 10]
[{'key': {'subkey': 1}}, {'key': {'subkey': 5}}, {'key': {'subkey': 10}}]

# problem 51

In [123]:
l = ['a','b','d','j','u','d','f','k','o','r','m','n','d','n','a','m'',z','x','s','d',"q"]
n = 5
new_li = [l[i:i+n]for i in range(0,len(l),n)]
print(new_li)

[['a', 'b', 'd', 'j', 'u'], ['d', 'f', 'k', 'o', 'r'], ['m', 'n', 'd', 'n', 'a'], ['m,z', 'x', 's', 'd', 'q']]

In [124]:
print(new_li)

[['a', 'b', 'd', 'j', 'u'], ['d', 'f', 'k', 'o', 'r'], ['m', 'n', 'd', 'n', 'a'], ['m,z', 'x', 's', 'd', 'q']]

# problem 52

In [125]:
li = ["red", "orange", "green", "blue", "white"]
li1 = ["black", "yellow", "green","blue"]

new_difference = set(li).difference(set(li1))

In [126]:
print(new_difference)

{'white', 'red', 'orange'}

In [127]:
new_difference1 =set(li1).difference(set(li))
print(new_difference1)

{'yellow', 'black'}

# problem 53

In [128]:
lis = []
counter = 0
while True:
    print(counter)
    counter += 1
    if  counter == 10:
        break 
    lis.append(counter)
print(lis)

0
1
2
3
4
5
6
7
8
9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# problem 54

In [129]:
#concatation
li = ["red", "orange", "green", "blue", "white"]

print(" the value is----->", ', '.join(li))

 the value is-----> red, orange, green, blue, white

# Problem 55

In [130]:
#a Python program to remove key-value pairs from a list of dictionaries.
original_list = [{'key1': 'value1', 'key2': 'value2'}, {'key1': 'value3', 'key2': 'value4'}]

for i in original_list:
    if 'key1' in i:
        del i['key1']
        
print(original_list)

[{'key2': 'value2'}, {'key2': 'value4'}]

In [131]:
print(original_list)

[{'key2': 'value2'}, {'key2': 'value4'}]

# problem 56

In [132]:
#a Python program to convert a string to a list.
new_string = "Hello this is sajib saha"
print(type(new_string))
new_lis = list(new_string)
print(new_lis)
print(type(new_lis))

<class 'str'>
['H', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 'a', 'j', 'i', 'b', ' ', 's', 'a', 'h', 'a']
<class 'list'>

# PROBLEM 57

In [133]:
color1 = ["green", "orange", "black", "white"]
color2 = ["green", "green", "green", "green"]

found = False

val = "blue"
#value = 'green'
for item in color1:
    if val == item:
        found = True
        break
if found:
    print('the value is in the list')
else:
    print('the value is not in the list')

the value is not in the list

# problem 58

In [134]:
#a Python program to replace the last element in a list with another list
num1 = [1, 3, 5, 7, 9, 10]
num2 = [2, 4, 6, 8]

num1 [-1:] = num2
print(num1)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

# problem 59

In [135]:
#a Python program to check whether the n-th element exists in a given list
num1 = [1, 3, 5, 7, 9, 10]
new_num = len(num1) - 1
print(num1[new_num])

10

# problem 60

In [136]:
# sample list = [(2,1),(1,2),(2,3),(4,4),(2,5)]
lis = [(2,5),(1,2),(4,4),(2,3),(2,1)]
new_lis = []
for i in lis:
    new_lis.append(i[1])
new_lis = sorted(new_lis)

final_li =[]
for i in new_lis:
    for touple1 in lis:
        if touple1[1] ==i:
            final_li.append(touple1)   
print(final_li)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [137]:
#a Python program to find a tuple, the smallest second index value from a list of tuples.
x = [(4, 1), (1, 2), (6, 0)]
new_x = []

for i in x:
    new_x.append(i[1])
new_x = sorted(new_x)
print(new_x[1])

1

# problem 61

In [138]:
n = 5
lis = []
for i in range(n):
    lis.append({})
print(lis)

[{}, {}, {}, {}, {}]

# problem 62

In [139]:
num = [1, 2, 3, 4, 5]
print(*num)

1 2 3 4 5

# problem 63

In [140]:
li = [1, 2, 3, 4]
n = 'emp'
lis = []

for i in li:
    new_li = n + str(i)
    lis.append(new_li)
print(lis)

['emp1', 'emp2', 'emp3', 'emp4']

# problem 64

In [144]:
num = [1, 2, 3]
color = ['red', 'white', 'black']
li = []
for i in range(0,len(num)):
    print(str(num[i]) + color[i])

1red
2white
3black

# problem 65

In [145]:
# a Python program to move all zero digits to end of a given list of numbers.
li  = [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
new_li = sorted(li, reverse = True)
print(new_li)

[10, 9, 9, 7, 7, 7, 6, 6, 6, 5, 4, 4, 4, 3, 3, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# problem 66

In [146]:
# run in colab but not here 
li = [[1, 2, 3], [4, 5, 6], [10, 11, 12], [7, 8, 9]] 
sum_ = 0
max_sum_list = []

for sublist in li:
    new_sum = sum(str(sublist))  # Sum all elements of the sublist
    if new_sum > sum_:
        sum_ = new_sum
        max_sum_list = sublist

print("List with the highest sum:", max_sum_list)
print("Sum of elements in the highest sum list:", sum_)

TypeError: 'int' object is not callable

In [147]:

li = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
print(max(li, key=sum))

TypeError: 'int' object is not callable

# problem 68

In [148]:
#a Python program to extend a list without append.
x = [10, 20, 30]
y = [40, 50, 60]

x[:0]= y

In [149]:
print(x)

[40, 50, 60, 10, 20, 30]

In [151]:
x = [10, 20, 30]
y = [40, 50, 60]
new = x + y
print(new)

[10, 20, 30, 40, 50, 60]

# problem 67

In [ ]:
# a Python program to find all the values in a list are greater than a specified number

In [170]:

list1 = [220, 330, 500]
list2 = [12, 17, 21]
num = 10

result = False

for i in list1 and list2:
    if i > num:
        result = True

print(result)

True

# problem 69

In [177]:
#a Python program to remove duplicates from a list of lists
li = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
new_li = []

for sublist in li:
    for i in sublist:
        if i not in new_li:
            new_li.append(i)
                  
print(new_li)

[10, 20, 40, 30, 56, 25, 33]

# problem 70

In [23]:
li = ['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
new_li =[]
new_li1 =[]
new_li2 =[]
new_li3 =[]

for i in li:
    if i[0]== "a":
        new_li.append(i)
print(new_li)
  

for i in li:
    if i[0]== "d":
        new_li1.append(i)
print(new_li1)


for i in li:
    if i[0]== "w":
        new_li2.append(i)
print(new_li2)

['abcd', 'abc', 'acjd']
['dagfa']
[]

# problem 71

In [26]:
lis = [{},{},{}]
lis1 = [{1,2},{},{}]

print(all(not d for d in lis))
print(all(not d for d in lis1))

True
False

In [54]:
result = False
for d in lis1:
    if d != lis1:
        result = True
print(result)

result = True
for d in lis:
    if d != lis:
        result = False
        break        
        
print(result)

True
False

# problem 72

In [68]:
li = [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]
li1 = []

for x in li:
    if isinstance(x, list):  
        li1.extend(x) 
    else:
        li1.append(x) 
print(li1)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

# problem 73

In [70]:
Original_list =[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]

new_list = []
for i in Original_list:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# problem 74

In [72]:
#problem

# problem 76

In [73]:
# problem

# problem 77

In [74]:
#PROBLEM

# problem 78

In [76]:
li = [1, 1, 2, 3, 4, 4, 5, 1] 

def split_list(li, l):
    return li[:l],li[l:]
f_l_len = 3

print(split_list(li, f_l_len))

([1, 1, 2], [3, 4, 4, 5, 1])

# problem 79

In [79]:
li = [1, 1, 2, 3, 4, 4, 5, 1] 

def split_list(li, l):
    return li[:l-1],li[l:]
f_l_len = 3

print(split_list(li, f_l_len))

([1, 1], [3, 4, 4, 5, 1])

# problem 80

In [81]:
li = [1, 1, 2, 3, 4, 4, 5, 1]
value = 12
position = 2

li.insert(position, value)


print(li)

[1, 1, 12, 2, 3, 4, 4, 5, 1]